<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    ::selection {
        background-color: #4db6c1;
        color: #fff;
    }

    html, body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #e0e0e0;
    }

    input:focus {
        outline: none;
        border: none;
    }

    #head-section {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Protest Revolution', sans-serif;
        color: #144e58;
    }

    #head-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 6vh;
        border-radius: 7px;
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    }

    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #generateurl {
        width: 50%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #url-generate-card {
        width: 70%;
        height: max-content;
        border-radius: 20px;
        padding: 40px;
        background: #e0e0e0;
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
        /* box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3); */
    }

    .gene-url-input-box form{
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

    .gene-url-input-box form #text-gene {
        font-size: 2rem;
        color: #144e58;
    }

    .gene-url-input-box form input {
        width: 80%;
        height: 5vh;
        border-radius: 7px;
        background-color: #e0e0e0;
        padding-left: 20px;
        box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
        border: none;
    }

    .gene-url-input-box form #btn-gene {
        width: 30%;
        height: 5vh;
        border-radius: 7px;
        background-color: #e0e0e0;
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
        border: none;
        cursor: pointer;
    }

    #show-url {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #show-url-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: max-content;
        height: max-content;
        padding: 13px;
        border-radius: 7px;
        margin-top: 20px;
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    }

    #list-urls {
        width: 50%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #list-box-main {
        width: 85%;
        border-radius: 20px;
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    }

    #list-box-main #table-thead-sec {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 5vh;
        border-radius: 20px 20px 0px 0px;
        overflow: hidden;
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    }

    #table-body-box {
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        overflow-y: auto;
        white-space: nowrap;
        display: inline-block;
        padding: 10px;
    }

    #table-body-box::-webkit-scrollbar {
        width: 5px;
    }

    #table-body-box::-webkit-scrollbar-thumb{
        width: 2px;
        border-radius: 5px;
        background-color: #144e58;
    }

    #inside-table-every-box {
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
        /* border: 1px solid red; */
    }

</style>
<body>
    <div id="head-section">
        <div id="head-text">
            <h1>Url-Shortner</h1>
        </div>
    </div>
    <div class="hero-container">
        <div id="generateurl">
            <div id="url-generate-card">
                <div class="gene-url-input-box">
                    <form method="POST" action="/url">
                        <label id="text-gene">Enter your original url</label>
                        <input type="text" name="url" placeholder="https://example.com">
                        <button type="submit" id="btn-gene">Generate</button>
                    </form>
                </div>
                <div id="show-url">
                    <div id="show-url-box">
                        <% if(locals.id) { %>
                            <p>URL Generated: http://localhost:3001/url/<%= id %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div id="list-urls">
            <div id="list-box-main">
                <% if(locals.urls) { %>
                    <table>
                        <div id="table-thead-sec">
                                <p>S. no</p>
                                <p>ShortId</p>
                                <p>Redirect</p>
                                <p>Clicks</p>
                        </div>
                        <div id="table-body-box">
                            <% urls.forEach((url, index) => { %>
                                    <div id="inside-table-every-box">
                                        <div><%= index + 1 %></div>
                                        <div><%= url.shortId %></div>
                                        <div><%= url.redirectUrl %></div>
                                        <div><%= url.visiHistory.length %></div>
                                    </div>
                            <% }) %>
                        </div>
                    </table>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>